<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
  {% include header.html %}
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><i class="ion-ios-analytics-outline"></i> Home Page</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#one">About Davor</a>
                    </li>
<!--                    <li>
                        <a class="page-scroll" href="#two">Highlights</a>
                    </li>
-->                    <li>
                        <a class="page-scroll" href="#three">Gallery</a>
                    </li>
<!--                    <li>
                        <a class="page-scroll" href="#four">Features</a>
                    </li>
-->                    <li>
                        <a class="page-scroll" href="#last">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="Davor Launches FLIGHT SCHOOL!" href="#aboutModal">Flight School!</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


      <article id="main">
        {{ content }}
      </article>


      {% include footer.html %}
    </div>

    {% include scripts.html %}
  </body>
</html>